/* Importação da fonte Oswald */
@import url('https://fonts.googleapis.com/css?family=Oswald');

/* Header e Resumo */
.header {
    height: auto;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    border-top: 0.08rem solid rgb(22, 22, 22);
}

.header h1 {
    color: rgb(33, 33, 33);
    font-size: 420%;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header h2 {
    color: rgb(53, 53, 53);
    font-size: 210%;
    font-style: italic;
    margin-top: -1%;
    letter-spacing: 1px;
}

.resumo {
    padding: 12px 25px;
    font-family: 'Oswald', sans-serif;
    height: auto;
}

.resumo p {
    text-justify: auto;
}

/* Corpo */

body {
    background-color: lightgray;
    width: 100%;
}

div {
    margin: 1.8rem auto;
    border-bottom: 0.08rem solid rgb(153, 153, 153);
    width: 80%;
}

.curriculo {
    display: flex;
    font-family: 'Oswald', sans-serif;
    border-bottom: 0.08rem solid rgb(22, 22, 22);
}

.coluna {
    flex: 50%;
    padding: 10px;
    border-bottom: 0;
    height: auto;
}

.row {
    border-bottom: 0;
    display: inline-table;
    width: 100%;
    padding-left: 15%;
}


/* Emprego */

.emprego ul {
    font-size: medium;
    margin-bottom: 3.5%;
} 

.experiencia {
    height: auto;
    border-bottom: 0;
}

#multicobra {
    border-bottom: 0;
}

#antigos {
    margin: 0;
}

.btn {
    background-color: transparent;
    margin-left: 40%;
}

.educacao {
    height: auto;
}

/* Idiomas */

.idiomas {
    height: auto;
}

.col-sm-6 {
    margin: auto -5%;
    border-bottom: 0;
    display: table;
}

.col-sm-6 h2 {
    margin-left: 10%;
}

.proficiencia {
    text-align: right;
}

/* Tecnologia */

.col-xs-4 {
    padding: 7.5px;
    margin: auto -5%;
    border-bottom: 0;
    display: table;
}

.col-xs-4 img {
    width: 64px;
    height: 64px;
}

.col-xs-4 img:hover {
    transform: scale(1.3);
    transition: all 400ms ease-in-out;
}

/* Competencias */

.competencias {
    height: auto;
    border-bottom: 0;
}

/* Rodapé */

footer {
    font-size: 180%;
    text-align: center;
    color:  rgb(23, 23, 23);
    text-decoration: none;
    width: 100%;
}

footer a{
    color: rgb(23, 23, 23);
}

footer a:hover{
    text-decoration: none;
    color: #337AB7;
}

footer li {
        display: inline;
}

footer div {
    flex: 33%;
    font-size: 80%;
    margin: auto 15% auto 5% ;
    border-bottom: 0;
}

.fa-github:hover {
    color: dimgray;
}

.fa-google:hover {
    color: #F35045;
}

#contato {
    margin: auto 33% 33% auto;
}

/* Responsivo Celular */

@media only screen and (max-width: 768px) {

    .curriculo {
        display: block
    }

    .coluna {
        width: 100%;
    }

    .idiomas {
        height: 45%;
    }

    .proficiencia {
        display: none;
    }

    #antigos {
        display: none;
    }

    #toggle {
        display: none;
    }
    
    #tesseract{
        border-bottom: 0;
    }

    #contato {
        margin: auto 5% 5% auto;
        font-size: 80%;
    }
    
}
